{% extends "message_board/pie_base.html" %}
{% block body %}
    <div id="home-main">
        <div id="messages">
            {% if messages %}
                {% for message in messages %}
                    <div>
                        <a href="/message/{{ message.id }}">{{ message.message }}</a>
                    </div>
                {% endfor %}
            {% else %}
                <p>No Messages saved!!!</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
{% block page-control %}
    <div id="home-control">
        <a href="socials/new_message">New</a>
    </div>
{% endblock %}